/*
25: 25%,
50: 50%,
75: 75%,
100: 100%,
auto: auto,
 */
@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-auto {
    width: auto !important;
  }
}
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .w-md-auto {
    width: auto !important;
  }
}
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-auto {
    width: auto !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }
}

/* Font Styles */
* {
  font-family: Mansalva, cursive !important;
}

code,
kbd,
pre,
samp {
  font-family: 'Fira Code', monospace !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mansalva, cursive !important;
}

p,
ul,
ol,
dl,
button,
input,
optgroup,
select,
textarea,
span,
address,
blockquote,
figure,
fieldset,
table,
form,
caption,
option {
  font-family: 'Nanum Pen Script', cursive !important;
}

.ff-mansalva {
  font-family: Mansalva, cursive !important;
}

.ff-nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive !important;
}

.ff-fira-code {
  font-family: 'Fira Code', monospace !important;
}

/* z-index */
.z-index-0 {
  z-index: 0 !important;
}

/* positive */
.z-index-1 {
  z-index: 1 !important;
}

.z-index-2 {
  z-index: 2 !important;
}

.z-index-3 {
  z-index: 3 !important;
}

.z-index-4 {
  z-index: 4 !important;
}

.z-index-5 {
  z-index: 5 !important;
}

/* negative */
.z-index-n1 {
  z-index: -1 !important;
}

.z-index-n2 {
  z-index: -2 !important;
}

.z-index-n3 {
  z-index: -3 !important;
}

.z-index-n4 {
  z-index: -4 !important;
}

.z-index-n5 {
  z-index: -5 !important;
}

/* Additional CSS */

.bg-gradient-gray {
  background: linear-gradient(to left, #f7f7f7 0%, #7c7c7c 50%);
}

.bg-pattern {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: radial-gradient(
      circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#7f7f7f 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #7f7f7f 2px, #e5e5f7 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
