@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);

@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --default-font-family: 'Rubik', sans-serif;
  --font-serif: 'Rubik', sans-serif;
  --font-sans: 'Rubik', sans-serif;
  --default-mono-font-family: 'Fira Code', monospace;
  --font-mono: 'Fira Code', monospace;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: 'nordLight';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(89.93% 0.0164 262.75);
  --color-base-200: oklch(86.9% 0.0198 252.89);
  --color-base-300: oklch(76.58% 0.0205 252.92);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(77.46% 0.0622 217.47);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(69.65% 0.0591 248.69);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(69.21% 0.0625 332.66);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(32.44% 0.0229 264.18);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(59.44% 0.0772 254.03);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76.83% 0.0749 131.06);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(69.29% 0.0963 38.24);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(60.61% 0.1206 15.34);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: 'nordDark';
  --color-base-100: oklch(32.44% 0.0229 264.18);
  --color-base-200: oklch(37.92% 0.029 266.47);
  --color-base-300: oklch(41.57% 0.0324 264.13);
  --color-base-content: oklch(89.93% 0.0164 262.75);
  --color-primary: oklch(77.46% 0.0622 217.47);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(69.65% 0.0591 248.69);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(69.21% 0.0625 332.66);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(89.93% 0.0164 262.75);
  --color-neutral-content: oklch(21% 0.006 285.885);
  --color-info: oklch(59.44% 0.0772 254.03);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76.83% 0.0749 131.06);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(69.29% 0.0963 38.24);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(60.61% 0.1206 15.34);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@utility link-slide-out-anim {
  @apply inline-block relative after:content-[''] after:absolute after:w-full after:transform after:scale-x-0 after:h-[0.125rem] after:bottom-0 after:left-0 after:bg-current after:origin-bottom-right after:transition-transform after:duration-300 after:ease-out hover:after:scale-x-100 hover:after:origin-bottom-left;
}

@utility link-slide-out-anim-neutral {
  @apply link-slide-out-anim text-neutral after:bg-neutral;
  @apply link-slide-out-anim text-neutral after:bg-neutral;
}

@utility link-slide-out-anim-secondary {
  @apply link-slide-out-anim text-secondary after:bg-secondary;
}

@utility link-slide-out-anim-accent {
  @apply link-slide-out-anim text-accent after:bg-accent;
}

@utility link-slide-out-anim-base-100 {
  @apply link-slide-out-anim text-base-100 after:bg-base-100;
}

@utility link-slide-out-anim-info {
  @apply link-slide-out-anim text-info after:bg-info;
}

@utility link-slide-out-anim-success {
  @apply link-slide-out-anim text-success after:bg-success;
}

@utility link-slide-out-anim-warning {
  @apply link-slide-out-anim text-warning after:bg-warning;
}

@utility link-slide-out-anim-error {
  @apply link-slide-out-anim text-error after:bg-error;
}

@layer utilities {
  html {
    --vh: calc(100vh / 100);
  }
}

@layer base {
  * {
    @apply selection:bg-neutral! selection:text-neutral-content!;
  }

  a {
    @apply link-slide-out-anim no-underline;
  }

  /* scrollbar */
  *::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }

  *::-webkit-scrollbar:horizontal {
    @apply h-2;
  }

  *::-webkit-scrollbar-track {
    @apply rounded-xl;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-neutral rounded-2xl;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-neutral;
  }

  * {
    scrollbar-gutter: unset;
    scrollbar-color: hsl(var(--n)) transparent;
  }
}
